html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  border-bottom: 1px solid black;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: white;
  align-items: center;
}

nav ul li {
  border-bottom: 4px transparent solid;
}

nav ul li:hover,
.dropdown-content a:hover {
  background-color: aliceblue;
}

nav ul li a,
nav ul li .dropdown-btn {
  color: #173B7E;
  text-decoration: none;
  display: flex;
  align-items: center;
  min-height: 89px;
  padding: 20px;
  padding-bottom: 16px;
}
nav ul li a svg {
  padding-left: 2px;
  margin-top: -5px;
  font-size: 8px;
}

nav ul li a img {
  max-width: 50px;
}

nav ul li.menu-btn {
  padding: 10px;
  font-size: 36px;
}
nav ul li.menu-btn button {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.current {
  border-bottom: 4px solid #173B7E;
}

.text-content {
  padding: 20px;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  border-top: 1px solid #cdcfd2;
  border-bottom: 1px solid #cdcfd2;
  border-left: 1px solid #cdcfd2;
  border-right: 1px solid #cdcfd2;
  border-radius: 3px;
  color: var(--sky-text-color-default);
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.428571429;
  font-size: 15px;
}

.btn:hover {
  border-top: 1px solid #e2e3e4;
  border-bottom: 1px solid #e2e3e4;
  border-left: 1px solid #e2e3e4;
  border-right: 1px solid #e2e3e4;
  color: var(--sky-text-color-default);
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  box-shadow: none;
  background-color: #fff;
  border-color: #cdcfd2;
}

.btn-primary {
  color: #fff;
  background-color: #0974a1;
}

.btn-primary:hover {
  color: #fff;
  background-color: #065171;
  border-color: #065171;
}

.btn-primary:disabled {
  background-color: #0974a1;
  border-color: #0974a1;
}

.btn-link {
  color: #0974a1;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:hover {
  color: #065171;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  outline: none;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 121px;
  user-select: none;

  .dropdown-btn svg {
    margin-left: 5px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    background-color: white;
    top: 88px;

    a {
      min-height: 0;
    }
  }
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.attendee-list {
  padding-left: 20px;
  padding-top: 5px;
}

.event-pane {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  top: 90px;
}

.link-list {
  padding: 20px;
}
.link-list ul {
  list-style: inside;
}

.mobile, .hidden{
  display: none;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form input {
  margin-left: 5px;
  margin-right: 5px;
}

.error-banner {
  background: red;
  color: black;
  font-weight: bold;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

.section {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  margin: 8px;
  margin-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.details-section {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  min-height: 1px;
  padding: 1rem;
}
.section li {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  min-height: 24px;
}
.section li label {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.section li span {
  color: #6c757d;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.section li h6 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.profile-page {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e2e8f0;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 180px;
  height: 180px;
}

.row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  unicode-bidi: isolate;
  color: #1a202c;
  text-align: left;
  padding-top: 0;
}

.profile-page .section {
  display: block;
  position: relative;
}

.profile-page hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.profile-page .match-history-section {
  h2 {
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    margin-bottom: 20px;
  }

  li.match-line {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;

    h6 {
      padding-right: 20px;
    }
  }
}

.report-match-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  label {
    display: flex;
    justify-content: space-between;
  }
  input, select {
    margin-left: 20px;
    width: 150px;
  }
}

@media (max-width: 1200px) {
  nav ul {
    justify-content: space-between;
  }
  nav ul li:not(:first-child):not(.mobile) {
    display: none;
  }
  .mobile:not(.hidden) {
    display: block;
  }

  .mobile-nav-menu {
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .mobile-nav-menu .back-btn {
    margin: 5px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile-nav-menu ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .mobile-nav-menu ul li a {
    width: 100%;
    padding: 20px;
    display: block;
    color: #173B7E;
    text-decoration: none;
  }
  .mobile-nav-menu ul li.current {
    background: #a8b2c3;
    border-bottom: none;
  }

  .event-pane {
    top: 137px;
  }

  .section {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
