html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  border-bottom: 1px solid black;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: white;
  align-items: center;
}

nav ul li {
  border-bottom: 4px transparent solid;
}

nav ul li a {
  color: #173B7E;
  text-decoration: none;
  display: flex;
  align-items: center;
  min-height: 89px;
  padding: 20px;
  padding-bottom: 16px;
}
nav ul li a svg {
  padding-left: 2px;
  margin-top: -5px;
  font-size: 8px;
}

nav ul li a img {
  max-width: 50px;
}

nav ul li.menu-btn {
  padding: 10px;
  font-size: 36px;
}
nav ul li.menu-btn button {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.current {
  border-bottom: 4px solid #173B7E;
}

.text-content {
  padding: 20px;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  border-top: 1px solid #cdcfd2;
  border-bottom: 1px solid #cdcfd2;
  border-left: 1px solid #cdcfd2;
  border-right: 1px solid #cdcfd2;
  border-radius: 3px;
  color: var(--sky-text-color-default);
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.428571429;
  font-size: 15px;
}

.btn:hover {
  border-top: 1px solid #e2e3e4;
  border-bottom: 1px solid #e2e3e4;
  border-left: 1px solid #e2e3e4;
  border-right: 1px solid #e2e3e4;
  color: var(--sky-text-color-default);
}

.btn-primary {
  color: #fff;
  background-color: #0974a1;
}

.btn-primary:hover {
  color: #fff;
  background-color: #065171;
  border-color: #065171;
}

.event-pane {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  top: 90px;
}

.link-list {
  padding: 20px;
}
.link-list ul {
  list-style: inside;
}

.mobile, .hidden{
  display: none;
}

@media (max-width: 1200px) {
  nav ul {
    justify-content: space-between;
  }
  nav ul li:not(:first-child):not(.mobile) {
    display: none;
  }
  .mobile:not(.hidden) {
    display: block;
  }

  .mobile-nav-menu {
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .mobile-nav-menu .back-btn {
    margin: 5px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile-nav-menu ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .mobile-nav-menu ul li a {
    width: 100%;
    padding: 20px;
    display: block;
    color: #173B7E;
    text-decoration: none;
  }
  .mobile-nav-menu ul li.current {
    background: #a8b2c3;
    border-bottom: none;
  }

  .event-pane {
    top: 137px;
  }
}